<!DOCTYPE html>
<html ng-app="apoStatus">

<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Status finder for APO-DZ">
    <meta name="author" content="Ronald Martin">

    <!-- Custom styles for this template -->
    <link href="css/form.css" rel="stylesheet">
    <link href="css/jumbotron-narrow.css" rel="stylesheet">
    <link href="css/carousel.css" rel="stylesheet">

    <title>What's My Status?</title>
</head>

<body ng-controller="MyController">
    <div class="container header">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="http://upennapo.org">UPenn APO</a>
            </li>
            <li><a href="https://github.com/ronaldsmartin/apo-status">About</a>
            </li>
            <li><a href="mailto:developer@upennapo.org?Subject=Status%20Website">Contact</a>
            </li>
        </ul>
        <h3 class="text-muted">APO - Delta Zeta Status</h3>
    </div>

    <div class="container" ng-hide="hasName">
        <form class="form-signin" role="form" ng-submit="getStatus()">
            <h2 class="form-signin-heading">Who comes there?</h2>
            <p class="lead">Enter your name exactly as it appears on the APO Spreadsheet.</p>
            <input type="text" class="form-control" name="firstName" placeholder="First Name" ng-model="firstName" required autofocus>
            <input type="text" class="form-control" name="lastName" placeholder="Last Name" ng-model="lastName" required>
            <button class="btn btn-lg btn-primary btn-block" role="button" type="submit">Get my status</button>
        </form>
    </div>

    <div class="container marketing" ng-show="hasStatus">
        <a name="section_selector"></a>
        <h2 ng-show="hasName">Status for {{firstName}} {{lastName}}:</h2>

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" src="http://upload.wikimedia.org/wikipedia/commons/0/0e/Ski_trail_rating_symbol-green_circle.svg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
                <h2>Service</h2>
                <p>Active brothers are required to complete 20 hours of service. This number is halved to 10 for Associates and eliminated for Early Alums. Service hours must include at least one large group project and one hour of chapter publicity. You must host one service project.</p>
                <p><a class="btn btn-default" href="#section_service" role="button">View details &raquo;</a>
                </p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="http://www.theofficedealer.com/mm5/graphics/product_images/1300/seo/1384261869/Ace-Label-Systems-68080F-2-Circle-Yellow.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
                <h2>Membership</h2>
                <p>All brothers are required to attend two chapter meetings each month. If you miss satisfying this requirement, you must attend the missed number of executive board meetings in the coming month. Participating on a committee will cover your hosting requirement for both service and fellowship.</p>
                <p><a class="btn btn-default" href="#section_membership" role="button">View details &raquo;</a>
                </p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="http://upload.wikimedia.org/wikipedia/commons/0/0e/Ski_trail_rating_symbol-green_circle.svg" alt=" Generic placeholder image " style="width: 140px; height: 140px; ">
                <h2>Fellowship</h2>
                <p>All brothers must attend 7 fellowships. This number is halved to 3 for associates and eliminated for Early Alums. You must host one fellowship.</p>
                <p><a class="btn btn-default " href="#section_fellowship" role="button ">View details &raquo;</a>
                </p>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider ">

        <div class="row featurette ">
            <a name="section_service"></a>
            <div class="col-md-7 " ng-model="service">
                <h2 class="featurette-heading ">My service:
                    <span class="text-muted ">{{service.complete}}</span>
                </h2>
                <p class="lead ">Your hours: {{service.serviceHours}}</p>
                <p class="lead ">Large group project: {{service.largeGroup}}</p>
                <p class="lead ">Publicity: {{service.publicity}}</p>
                <p class="lead ">Hosting: {{service.hosting}}</p>
            </div>
            <div class="col-md-5 ">

            </div>
        </div>

        <hr class="featurette-divider ">

        <div class="row featurette ">
            <a name="section_membership"></a>
            <div class="col-md-5 ">

            </div>
            <div class="col-md-7 " ng-model="membership">
                <h2 class="featurette-heading ">My membership:
                    <span class="text-muted ">{{membership.complete}}</span>
                </h2>
                <p class="lead ">Meetings attended this month: {{membership.meetings}} of {{membership.reqMeetings}}</p>
                <p class="lead ">Brother component: {{membership.brotherComponent}}</p>
                <p class="lead ">Pledge component: {{membership.pledgeComponent}}</p>
            </div>
        </div>

        <hr class="featurette-divider ">

        <div class="row featurette ">
            <a name="section_fellowship" ng-model="fellowship"></a>
            <div class="col-md-7 ">
                <h2 class="featurette-heading ">My fellowship:
                    <span class="text-muted ">{{fellowship.complete}}</span>
                </h2>
                <p class="lead ">Fellowship points: {{fellowship.points}} of {{fellowship.reqPoints}}</p>
                <p class="lead ">Hosting: {{fellowship.hosting}}</p>
            </div>
            <div class="col-md-5 ">

            </div>
        </div>

        <hr class="featurette-divider ">

        <!-- /END THE FEATURETTES -->


        <!-- FOOTER -->
        <footer>
            <p class="pull-right "><a href="# ">Back to top</a>
            </p>
            <p>&copy; 2014 Ronald Martin. &middot; <a href="# ">Privacy</a> &middot; <a href="# ">Terms</a>
            </p>
        </footer>

    </div>


    <!-- Angular.js -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.js"></script>
    <!-- MVC -->
    <script type="text/javascript" src="js/app.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet " href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css ">
    <!-- Optional theme -->
    <link rel="stylesheet " href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css ">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js "></script>
</body>

</html>